<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    <% preact.title %>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alkatra">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather">
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="icon" type="image/png" sizes="128x128" href="/assets/images/icon-128.png" />
  <link rel="shortcut icon" href="/assets/images/icon-128.png" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="msapplication-config" content="/assets/icons/browserconfig.xml" />
  <meta name="theme-color" content="#ffffff" />
  <% preact.headEnd %>
</head>

<body>
  <% preact.bodyEnd %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JZJEG66M7E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-HWMR4W3V9H");
    </script>
    <!-- End Google tag -->
</body>

</html>
